<div class="home" id="home">
    <div class="home-panel">
        <div class="intro">
            <p>Hi,</p>
            <p class="name"> I am Ajay K santhosh</p>
            <p>Fullstack Developer</p>
            <button class="btn-projects" (click)="project()">Projects</button>
            <button class="btn-hire-me" (click)="hireMe()" >Hire Me</button>
        </div>
        <div class="home-dots">
           <div class="eclipse1"></div>
            <div class="eclipse2"></div>
            <div class="eclipse3"></div>
        </div>
    </div>
</div>
