<div class="main">
    <div class="header">
        <div class="navbar">
            <a id="home" (click)="home()">#Home</a>
            <a id="project" class="active">#Projects</a>
            <a id="hire" (click)="hire()">#Hire Me</a>

        </div>
    </div>

    <div class="showcase">
        <div class="rectangle">
            <h2 align="center"
                style="margin-top: 22px; color: rgb(255, 255, 255);  transform:rotate(-3deg); text-shadow: 4px 3px rgb(25, 0, 255);">
                Movie Webapp</h2>
            <p style="color:rgb(255, 255, 255);">
                This web app is for fetching movie details using API calls. This project uses angular 12 and firebase
            </p>
            <a href="https://movie-inf0.firebaseapp.com/welcome" style="text-decoration:none;">
                <div class="overlay">
                    <div class="text">Watch Demo</div>
                </div>
            </a>
        </div>
        <div class="rectangle">
            <h2 align="center"
                style="margin-top: 22px;color: rgb(255, 255, 255);  transform:rotate(-3deg); text-shadow: 4px 3px rgb(25, 0, 255);">
                Todo</h2>
            <p style="color:rgb(255, 255, 255);">
                Simple to-do app with many secret features. This project is connected with the firebase real-time
                database. just type "iambored" on the keyboard and just draw using mouse(only work on pc)
            </p>
            <a href="https://todo-4d37b.web.app/todo" style="text-decoration:none;">
                <div class="overlay">
                    <div class="text">Watch Demo
                    </div>
                </div>
            </a>
        </div>
        <div class="rectangle">
            <h2 align="center"
                style="margin-top: 22px;color: rgb(255, 255, 255);  transform:rotate(-3deg);text-shadow: 4px 3px rgb(25, 0, 255);">
                Fullstack Webapp</h2>
            <p style="color:rgb(255, 255, 255);">
                This project is implemented using the angular framework ,
                spring boot and mySql database
            </p>
            <a href="https://github.com/proxolo1" style="text-decoration:none;">
                <div class="overlay">
                    <div class="text">Source code
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="rectangle"></div> -->

    </div>
</div>