.header{
    width:100%;
    margin: auto;
    
}
.navbar {
    width: 100%;
    background-color:#ff000000;
    backdrop-filter: blur(5px);
    overflow: auto;
    display:flex;
    justify-content: space-around;
    font-family: sans-serif;
  }
  
  .navbar a {
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 2%;
    font-family: 'Oswald', sans-serif;
  }
  
  .navbar a:hover {
    border-bottom: 5px solid rgb(38, 0, 255);
  }
  
  .active {
    border-bottom: 5px solid rgb(0, 0, 0);
    
  }
  
  .main{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to right, #0e6496 10%,rgb(6, 102, 245),#4004b8 100%); */
    /* background:linear-gradient(to right, #000249 0%,#000249 50%); */
    background-color: yellow;
    position: relative;
}

.showcase{
  width:100%;
  height:10%;
  display: flex;
  justify-content:space-between;
 
}
footer{
  width:100%;
  position: absolute;
  bottom:0;
  left: 0;
}
.github,.twitter,.email{
  width:30%;
  
  /* background-color:rgb(255, 217, 0); */
  text-align:center;
  color: white;
  border-radius:30px;
}
svg{
  width:10%;
}
.intro{
  margin: 10px auto;
  width:80%;
  height:80%;
  /* background-color:red; */
  text-align:center;
  position: relative;
  display:flex;
}
.intro-text{
  width:50%;
  height:50%;
  position: relative;
  top: 60px;
  overflow: auto;
  /* background-color:rgb(61, 61, 15); */
}
.intro-text p{
  font-size:30px;
  text-align:left;
  line-height:35px;
  font-family: 'Indie Flower', cursive;
}
.skills{
  width:40%;
  height:45%;
  /* background-color:green; */
  position: relative;
  top:10%;
  margin-left: auto;
  overflow: auto;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    

}
/* From cssbuttons.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  position: absolute;
  bottom: 20%;
  right: 100px;
 }
 
 .cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
 }
 
 .cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active svg {
  transform: scale(0.9);
 }
 
 .hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
 }
 
 .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
 }
 
 .cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
 }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(217, 255, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      font-size:15px;
    }
    .intro{
      width:100%;
      height:70%;
      /* background:red; */
      margin:6% auto;
      color:rgb(0, 0, 0);
      display:flex;
  }
  .intro-block{
    position: relative;
    top: 40px;
    height:30%;
    background-position: left;
  }
  .intro-block button {
    margin-top:10vh;
  }
  .intro-text p{
    font-size:20px;
    margin-left:10px;
  }
}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-28 17:0:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

 